<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="elly.jpg" class="card-img-top" alt="elly">
        <div class="card-body">
          <p class="card-text">2017125049 이대한</p>
        </div>
      </div>
      <br>
      <br>
      <a href="{% url 'home' %}">돌아가기</a>
</body>
</html>